{
    "swagger": "2.0",
    "info": {
        "description": "",
        "version": "1.0.6",
        "title": "Selfree CRM API"
    },
    "servers": [
        {
            "url": "https://api.selfree-school.ru/"
        }
    ],
    "tags": [
        {
            "name": "clients",
            "description": "Everything about your Clients"
        },
        {
            "name": "leads",
            "description": "About Leads"
        },
        {
            "name": "users",
            "description": "About Users"
        }
    ],
    "schemes": [
        "https",
        "http"
    ],
    "paths": {
        "/clients/page.php": {
            "get": {
                "description": "View client",
                "tags": [
                    "clients"
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Page of clients",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/clients/view.php": {
            "get": {
                "description": "View client",
                "tags": [
                    "clients"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Client ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "About Client",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/clients/getCountOfClients.php": {
            "get": {
                "description": "Count of clients",
                "tags": [
                    "clients"
                ],
                "responses": {
                    "200": {
                        "description": "Client has been deleted",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/clients/create.php": {
            "post": {
                "description": "Create client",
                "tags": [
                    "clients"
                ],
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "surname",
                        "in": "formData",
                        "description": "Client surname",
                        "required": true
                    },
                    {
                        "name": "name",
                        "in": "formData",
                        "description": "Client name",
                        "required": true
                    },
                    {
                        "name": "middlename",
                        "in": "formData",
                        "description": "Client middlename",
                        "required": true
                    },
                    {
                        "name": "gender",
                        "in": "formData",
                        "description": "Client gender",
                        "required": true
                    },
                    {
                        "name": "date_birth",
                        "in": "formData",
                        "description": "Client date_birth",
                        "required": true
                    },
                    {
                        "name": "phone",
                        "in": "formData",
                        "description": "Client phone",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Client created",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "403": {
                        "description": "Schema error",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/clients/update.php": {
            "post": {
                "description": "Update client data",
                "tags": [
                    "clients"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "obj",
                        "in": "body",
                        "description": "Client data",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "surname": {
                                    "type": "string",
                                    "example": "Тестов"
                                },
                                "name": {
                                    "type": "string",
                                    "example": "Тест"
                                },
                                "middlename": {
                                    "type": "string",
                                    "example": "Тестович"
                                },
                                "gender": {
                                    "type": "string",
                                    "example": "male"
                                },
                                "date_birth": {
                                    "type": "string",
                                    "example": "2023-01-01"
                                },
                                "phone": {
                                    "type": "string",
                                    "example": "+77777777777"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Client created",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "403": {
                        "description": "Schema error",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/clients/delete.php": {
            "delete": {
                "description": "Delete client",
                "tags": [
                    "clients"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Client ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Client has been deleted",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        }
    }
}