{
    "swagger": "2.0",
    "info": {
        "description": "",
        "version": "1.0.6",
        "title": "Selfree CRM API"
    },
    "servers": [
        {
            "url": "https://api.selfree-school.ru/"
        }
    ],
    "tags": [
        {
            "name": "clients",
            "description": "Клиенты"
        }
    ],
    "schemes": [
        "https",
        "http"
    ],
    "paths": {
        "/clients/page.php": {
            "get": {
                "summary": "Получение списка клиентов пагинацией",
                "tags": [
                    "clients"
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Страница",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Список клиентов",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Ошибка в запросе",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/clients/read.php": {
            "get": {
                "summary": "Информация о клиенте",
                "tags": [
                    "clients"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID клиента",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Информация о клиенте",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Ошибка в запросе",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Клиент не найден",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/clients/count.php": {
            "get": {
                "summary": "Кол-во клиентов",
                "tags": [
                    "clients"
                ],
                "responses": {
                    "200": {
                        "description": "Получение кол-ва клиентов",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/clients/create.php": {
            "post": {
                "summary": "Создание клиента",
                "tags": [
                    "clients"
                ],
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "surname",
                        "in": "formData",
                        "description": "Фамилия",
                        "required": true
                    },
                    {
                        "name": "name",
                        "in": "formData",
                        "description": "Имя",
                        "required": true
                    },
                    {
                        "name": "middlename",
                        "in": "formData",
                        "description": "Отчество",
                        "required": true
                    },
                    {
                        "name": "gender",
                        "in": "formData",
                        "description": "Пол",
                        "required": true
                    },
                    {
                        "name": "date_birth",
                        "in": "formData",
                        "description": "Дата рождения",
                        "required": true
                    },
                    {
                        "name": "phone",
                        "in": "formData",
                        "description": "Телефон",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Создан",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Ошибка в запросе",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/clients/update.php": {
            "patch": {
                "summary": "Обновить данные клиента",
                "tags": [
                    "clients"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "data",
                        "in": "body",
                        "description": "Новые данные клиента",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "surname": {
                                    "type": "string",
                                    "example": "Тестов"
                                },
                                "name": {
                                    "type": "string",
                                    "example": "Тест"
                                },
                                "middlename": {
                                    "type": "string",
                                    "example": "Тестович"
                                },
                                "gender": {
                                    "type": "string",
                                    "example": "male"
                                },
                                "date_birth": {
                                    "type": "string",
                                    "example": "2023-01-01"
                                },
                                "phone": {
                                    "type": "string",
                                    "example": "+7(777)777-77-77"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Данные клиента обновлены",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Ошибка в запросе",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Клиент не найден",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/clients/setTariff.php": {
            "put": {
                "summary":"Установить тариф",
                "tags": [
                    "clients"
                ],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "ID клиента",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "tariff_id",
                        "in": "body",
                        "description": "Tariff ID",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "tariff_id": {
                                    "type": "integer",
                                    "example": 1
                                },
                                "subject_id": {
                                    "type": "integer",
                                    "example": 1
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Тариф клиента обновлен",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description":"Ошибка в запросе",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description":"Клиент не найден",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/clients/setAbonement.php": {
            "put": {
                "summary":"Установить абонемент",
                "tags": [
                    "clients"
                ],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "ID клиента",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "abonement",
                        "in": "body",
                        "description": "ID абонемента",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "abonement_id": {
                                    "type": "integer",
                                    "example": 1
                                },
                                "subject_id": {
                                    "type": "integer",
                                    "example": 1
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Абонемент сохранён",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description":"Ошибка в запросе",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/clients/setRegularLessons.php": {
            "put": {
                "summary":"Установить регулярный урок клиента",
                "tags": [
                    "clients"
                ],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "ID клиента",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "regular_lesson",
                        "in": "body",
                        "description": "ID абонемента",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "teacher_id": {
                                    "type": "integer",
                                    "example": 1
                                },
                                "subject_id": {
                                    "type": "integer",
                                    "example": 1
                                },
                                "day_week": {
                                    "type": "integer",
                                    "example": 1
                                },
                                "time": {
                                    "type": "string",
                                    "example": "14:00"
                                },
                                "date_start": {
                                    "type": "string",
                                    "example": "2023-01-01"
                                },
                                "date_end": {
                                    "type": "string",
                                    "example": "2023-01-01"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Регулярный урок клиента установлен",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description":"Ошибка в запросе",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description":"Клиент не найден",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/clients/deleteTariff.php": {
            "delete": {
                "summary": "Удалить тариф",
                "tags": [
                    "clients"
                ],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "Клиент",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "tariff_id",
                        "in": "query",
                        "description": "Тариф",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "subject_id",
                        "in": "query",
                        "description": "Предмет",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Тариф клиента удалён",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Ошибка в запросе",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/clients/deleteAbonement.php": {
            "delete": {
                "summary": "Удалить абонемент",
                "tags": [
                    "clients"
                ],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "Клиент",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "subject_id",
                        "in": "query",
                        "description": "Предмет",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Абонемент отвязан",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Ошибка в запросе",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/clients/deleteRegularLessons.php": {
            "delete": {
                "summary": "Удалить регулярный урок",
                "tags": [
                    "clients"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Регулярный урок клиента удалён",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Ошибка в запросе",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Регулярного урока нет",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/clients/delete.php": {
            "delete": {
                "summary": "Удалить клиента",
                "tags": [
                    "clients"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Клиент удален",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Ошибка в запросе",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Клиент не найден",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        }
    }
}