{
    "swagger": "2.0",
    "info": {
        "description": "",
        "version": "1.0.6",
        "title": "Selfree CRM API"
    },
    "servers": [
        {
            "url": "https://api.selfree-school.ru/"
        }
    ],
    "tags": [
        {
            "name": "leads",
            "description": "Лиды"
        },
        {
            "name": "Source Leads",
            "description": "Трафик лидов"
        }
    ],
    "schemes": [
        "https",
        "http"
    ],
    "paths": {
        "/leads/list.php": {
            "get": {
                "summary": "Список лидов",
                "tags": [
                    "leads"
                ],
                "responses": {
                    "200": {
                        "description": "Список лидов",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/leads/read.php": {
            "get": {
                "summary": "Информация о лиде",
                "tags": [
                    "leads"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Lead ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Информация о лиде",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "NOT FOUND",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/leads/create.php": {
            "post": {
                "summary": "Создание лида",
                "tags": [
                    "leads"
                ],
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "formData",
                        "description": "ФИО",
                        "required": true
                    },
                    {
                        "name": "phone",
                        "in": "formData",
                        "description": "Телефон",
                        "required": true
                    },
                    {
                        "name": "email",
                        "in": "formData",
                        "description": "Email",
                        "required": false
                    },
                    {
                        "name": "comment",
                        "in": "formData",
                        "description": "Комментарий к лиду",
                        "required": true
                    },
                    {
                        "name": "source",
                        "in": "formData",
                        "description": "Слаг источника",
                        "type": "string",
                        "required": true
                    },
                    {
                        "name": "status",
                        "in": "formData",
                        "description": "Номер статуса",
                        "type": "integer",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Получение списка лидов",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/leads/update.php": {
            "patch": {
                "summary": "Обновить данные лида",
                "tags": [
                    "leads"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "data",
                        "in": "body",
                        "description": "Данные для обновления",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "example": "Тестов Тест Тестович"
                                },
                                "phone": {
                                    "type": "string",
                                    "example": "+7(777)777-77-77"
                                },
                                "email": {
                                    "type": "string",
                                    "example": "example@mail.ru"
                                },
                                "source": {
                                    "type": "string",
                                    "example": "from-site"
                                },
                                "status": {
                                    "type": "number",
                                    "example": "1"
                                },
                                "comment": {
                                    "type": "string",
                                    "example": "Комментарий"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Данные о лиде обновлены",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Ошибка в запросе",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/leads/setStatus.php": {
            "put": {
                "summary": "Установить статус лида",
                "tags": [
                    "leads"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "status",
                        "in": "body",
                        "description": "Статус лида",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "status": {
                                    "type": "number",
                                    "example": 1
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Статус лида установлен",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Ошибка в запросе",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/leads/delete.php": {
            "delete": {
                "summary": "Удалить лида",
                "tags": [
                    "leads"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Лид удалён",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Ошибка в запросе",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/leads/source_list/read.php": {
            "get": {
                "summary": "Информация об источнике лидов",
                "tags": [
                    "Source Leads"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Получен источник лидов"
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/leads/source_list/list.php": {
            "get": {
                "summary": "Список источников",
                "tags": [
                    "Source Leads"
                ],
                "responses": {
                    "200": {
                        "description": "Получен сисок источников",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/leads/source_list/create.php": {
            "post": {
                "summary": "Создание источника лидов",
                "tags": [
                    "Source Leads"
                ],
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "formData",
                        "description": "Название",
                        "required": true
                    },
                    {
                        "name": "slug",
                        "in": "formData",
                        "description": "Слаг",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Источник создан",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Ошибка в запросе",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/leads/source_list/update.php": {
            "patch": {
                "summary": "Обновить данные об источнике лида",
                "tags": [
                    "Source Leads"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "data",
                        "in": "body",
                        "description": "Данные для обновления",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "example": "Тестов"
                                },
                                "slug": {
                                    "type": "string",
                                    "example": "source-1"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Данные источника обновлены",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Ошибка в запросе",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/leads/source_list/delete.php": {
            "delete": {
                "summary": "Удалить источник лидов",
                "tags": [
                    "Source Leads"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Client ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Источник удалён",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Ошибка в запросе",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        }
    }
}