{
    "swagger": "2.0",
    "info": {
        "description": "",
        "version": "1.0.6",
        "title": "Selfree CRM API"
    },
    "servers": [
        {
            "url": "https://api.selfree-school.ru/"
        }
    ],
    "tags": [
        {
            "name": "lessons",
            "description": "Уроки"
        }
    ],
    "schemes": [
        "https",
        "http"
    ],
    "paths": {
        "/lessons/clientTimetable.php": {
            "get": {
                "summary": "Расписание студента",
                "tags": [
                    "lessons"
                ],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "ID клиента",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "date_start",
                        "in": "query",
                        "description": "Начало",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "date_end",
                        "in": "query",
                        "description": "Конец",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Список уроков",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Ошибка в запроса",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/lessons/read.php": {
            "get": {
                "summary": "Информация об уроке",
                "tags": [
                    "lessons"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "lesson ID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Информация об уроке",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "NOT FOUND",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/lessons/create.php": {
            "post": {
                "summary": "Создать урок",
                "tags": [
                    "lessons"
                ],
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "formData",
                        "description": "Client ID",
                        "required": true
                    },
                    {
                        "name": "teacher_id",
                        "in": "formData",
                        "description": "Teacher ID",
                        "required": true
                    },
                    {
                        "name": "type",
                        "in": "formData",
                        "description": "Lesson type",
                        "required": true
                    },
                    {
                        "name": "date",
                        "in": "formData",
                        "description": "Date",
                        "required": true
                    },
                    {
                        "name": "time",
                        "in": "formData",
                        "description": "Time",
                        "required": true
                    },
                    {
                        "name": "status_id",
                        "in": "formData",
                        "description": "Status",
                        "required": true
                    },
                    {
                        "name": "subject_id",
                        "in": "formData",
                        "description": "Subject",
                        "required": true
                    },
                    {
                        "name": "comment",
                        "in": "formData",
                        "description": "Comment"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Урок создан",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Ошибка в запросе",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/lessons/createClientLessons.php": {
            "post": {
                "summary": "Создать расписание студента",
                "tags": [
                    "lessons"
                ],
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "formData",
                        "description": "ID клиента",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Расписание создано",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Ошибка в запросе",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/lessons/update.php": {
            "patch": {
                "summary": "Обновить урок",
                "tags": [
                    "lessons"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "data",
                        "in": "body",
                        "description": "Teacher data to update",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "teacher_id": {
                                    "type": "integer",
                                    "example": "1"
                                },
                                "type": {
                                    "type": "string",
                                    "example": "individual"
                                },
                                "date": {
                                    "type": "string",
                                    "example": "2023-01-01"
                                },
                                "time": {
                                    "type": "string",
                                    "example": "18:00"
                                },
                                "status_id": {
                                    "type": "integer",
                                    "example": "1"
                                },
                                "subject_id": {
                                    "type": "integer",
                                    "example": "1"
                                },
                                "comment": {
                                    "type": "string",
                                    "example": ""
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lesson updated",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Ошибка в запросе",
                        "content": {
                            "application/json": {}
                        }
                    },
                    
                    "404": {
                        "description": "Такого урока нет",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/lessons/delete.php": {
            "delete": {
                "summary": "Удалить урок",
                "tags": [
                    "lessons"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Lesson ID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lesson has been deleted",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Ошибка в запросе",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Не найдено",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        }
    }
}