{
    "swagger": "2.0",
    "info": {
        "description": "",
        "version": "1.0.6",
        "title": "Selfree CRM API"
    },
    "servers": [
        {
            "url": "https://api.selfree-school.ru/"
        }
    ],
    "tags": [
        {
            "name": "lessons",
            "description": "Уроки"
        }
    ],
    "schemes": [
        "https",
        "http"
    ],
    "paths": {
        "/lessons/timetable.php": {
            "get": {
                "description": "Расписание студента",
                "tags": [
                    "lessons"
                ],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "query",
                        "description": "ID клиента",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "date_start",
                        "in": "query",
                        "description": "Начало",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "date_end",
                        "in": "query",
                        "description": "Конец",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Список уроков",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Ошибка в запроса",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/lessons/read.php": {
            "get": {
                "description": "Информация об уроке",
                "tags": [
                    "lessons"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "lesson ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Информация об уроке",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "NOT FOUND",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/lessons/create.php": {
            "post": {
                "description": "Create teacher",
                "tags": [
                    "lessons"
                ],
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "formData",
                        "description": "Teacher name",
                        "required": true
                    },
                    {
                        "name": "gender",
                        "in": "formData",
                        "description": "Teacher gender",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Teacher created",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Schema error",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/lessons/update.php": {
            "patch": {
                "description": "Update teacher data",
                "tags": [
                    "lessons"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "data",
                        "in": "body",
                        "description": "Teacher data to update",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "example": "Тест"
                                },
                                "gender": {
                                    "type": "string",
                                    "example": "male"
                                },
                                "skill": {
                                    "type": "string",
                                    "example": "2023-01-01"
                                },
                                "phone": {
                                    "type": "string",
                                    "example": "+77777777777"
                                },
                                "email": {
                                    "type": "string",
                                    "example": "example@mail.com"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Teacher updated",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Schema error",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/lessons/delete.php": {
            "delete": {
                "description": "Delete teacher",
                "tags": [
                    "lessons"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Teacher ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Teacher has been deleted",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        }
    }
}