{
    "swagger": "2.0",
    "info": {
        "description": "",
        "version": "1.0.6",
        "title": "Selfree CRM API"
    },
    "servers": [
        {
            "url": "https://api.selfree-school.ru/"
        }
    ],
    "tags": [
        {
            "name": "payments",
            "description": "Платежи"
        }
    ],
    "schemes": [
        "https",
        "http"
    ],
    "paths": {
        "/payments/create.php": {
            "post": {
                "summary": "Создать платёж на счёт клиента",
                "tags": [
                    "payments"
                ],
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "formData",
                        "description": "ID клиента",
                        "required": true
                    },
                    {
                        "name": "amount",
                        "in": "formData",
                        "description": "Сумма",
                        "required": true
                    },
                    {
                        "name": "operation_type_id",
                        "in": "formData",
                        "description": "Тип операции",
                        "required": true
                    },
                    {
                        "name": "comment",
                        "in": "formData",
                        "description": "Комментарий",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Платёж прошёл успешно",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Неверный запрос",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        }
    }
}