{
    "swagger": "2.0",
    "info": {
        "description": "",
        "version": "1.0.6",
        "title": "Selfree CRM API"
    },
    "servers": [
        {
            "url": "https://api.selfree-school.ru/"
        }
    ],
    "tags": [
        {
            "name": "tariffs",
            "description": "Тарифы"
        },
        {
            "name": "abonements",
            "description": "Абонементы"
        }
    ],
    "schemes": [
        "https",
        "http"
    ],
    "paths": {
        "/tariffs/read.php": {
            "get": {
                "summary": "Получить тариф",
                "tags": [
                    "tariffs"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Tariff ID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Тариф",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Ошибка в запросе",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Не найдено",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка на сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/tariffs/list.php": {
            "get": {
                "summary": "Список тарифов",
                "tags": [
                    "tariffs"
                ],
                "responses": {
                    "200": {
                        "description": "Список тарифов",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка на сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/tariffs/create.php": {
            "post": {
                "summary": "Создать тариф",
                "tags": [
                    "tariffs"
                ],
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "formData",
                        "description": "Название тарифа",
                        "required": true
                    },
                    {
                        "name": "duration",
                        "in": "formData",
                        "description": "Длительность урока (мин)",
                        "required": true
                    },
                    {
                        "name": "price",
                        "in": "formData",
                        "description": "Цена тарифа за урок",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Тариф создан",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Ошибка в запросе",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка на сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/tariffs/update.php": {
            "patch": {
                "summary": "Обновить тариф",
                "tags": [
                    "tariffs"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "data",
                        "in": "body",
                        "description": "Данные",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "example": "Имя тарифа"
                                },
                                "duration": {
                                    "type": "number",
                                    "example": "60"
                                },
                                "price": {
                                    "type": "number",
                                    "example": "4000"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Тариф обновлён",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Ошибка в запросе",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Не найдено",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка на сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/tariffs/delete.php": {
            "delete": {
                "summary": "Удалить тариф",
                "tags": [
                    "tariffs"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Tariff ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Тариф был удалён",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Ошибка в запросе",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка на сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/abonements/read.php": {
            "get": {
                "summary": "Абонемент",
                "tags": [
                    "abonements"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Abonement ID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Абонемент",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Ошибка в запросе",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Не найдено",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка на сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/abonements/list.php": {
            "get": {
                "summary": "Список абонементов",
                "tags": [
                    "abonements"
                ],
                "responses": {
                    "200": {
                        "description": "Список абонементов",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/abonements/create.php": {
            "post": {
                "summary": "Создать абонемент",
                "tags": [
                    "abonements"
                ],
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "formData",
                        "description": "Название абонемента",
                        "required": true
                    },
                    {
                        "name": "tariff_id",
                        "in": "formData",
                        "description": "Tariff ID",
                        "required": true
                    },
                    {
                        "name": "duration",
                        "in": "formData",
                        "description": "Длительность абонемента в днях",
                        "required": true
                    },
                    {
                        "name": "price",
                        "in": "formData",
                        "description": "Цена",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Абонемент создан",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Ошибка в запросе",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка на сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/abonements/update.php": {
            "patch": {
                "summary": "Обновить абонемент",
                "tags": [
                    "abonements"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "data",
                        "in": "body",
                        "description": "Данные",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "example": "Имя абонемента"
                                },
                                "tariff_id": {
                                    "type": "integer",
                                    "example": "1"
                                },
                                "duration": {
                                    "type": "integer",
                                    "example": "30"
                                },
                                "price": {
                                    "type": "number",
                                    "example": "4000"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Абонемент обновлён",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Ошибка в запросе",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Не найдено",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка на сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/abonements/delete.php": {
            "delete": {
                "summary": "Удалить абонемент",
                "tags": [
                    "abonements"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Tariff ID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Абонемент был удалён",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Ошибка в запросе",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка на сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        }
    }
}