{
    "swagger": "2.0",
    "info": {
        "description": "",
        "version": "1.0.6",
        "title": "Selfree CRM API"
    },
    "servers": [
        {
            "url": "https://api.selfree-school.ru/"
        }
    ],
    "tags": [
        {
            "name": "tariffs",
            "description": "Тарифы"
        },
        {
            "name": "abonements",
            "description": "Абонементы"
        }
    ],
    "schemes": [
        "https",
        "http"
    ],
    "paths": {
        "/tariffs/read.php": {
            "get": {
                "description": "View tariff",
                "tags": [
                    "tariffs"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Tariff ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tariff",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/tariffs/list.php": {
            "get": {
                "description": "Tariff list",
                "tags": [
                    "tariffs"
                ],
                "responses": {
                    "200": {
                        "description": "Tariff list",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/tariffs/create.php": {
            "post": {
                "description": "Create tariff",
                "tags": [
                    "tariffs"
                ],
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "formData",
                        "description": "Tariff name",
                        "required": true
                    },
                    {
                        "name": "duration",
                        "in": "formData",
                        "description": "Lesson duration",
                        "required": true
                    },
                    {
                        "name": "price",
                        "in": "formData",
                        "description": "Tariff price",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tariff created",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Schema error",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/tariffs/update.php": {
            "patch": {
                "description": "Update tariff data",
                "tags": [
                    "tariffs"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "data",
                        "in": "body",
                        "description": "Tariff data to update",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "example": "Имя тарифа"
                                },
                                "duration": {
                                    "type": "number",
                                    "example": "60"
                                },
                                "price": {
                                    "type": "number",
                                    "example": "4000"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tariff updated",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Schema error",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/tariffs/delete.php": {
            "delete": {
                "description": "Delete tariff",
                "tags": [
                    "tariffs"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Tariff ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tariff has been deleted",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/abonements/read.php": {
            "get": {
                "description": "View abonement",
                "tags": [
                    "abonements"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Abonement ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Abonement",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/abonements/list.php": {
            "get": {
                "description": "Abonement list",
                "tags": [
                    "abonements"
                ],
                "responses": {
                    "200": {
                        "description": "Abonement list",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/abonements/create.php": {
            "post": {
                "description": "Create abonement",
                "tags": [
                    "abonements"
                ],
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "formData",
                        "description": "Abonement name",
                        "required": true
                    },
                    {
                        "name": "tariff_id",
                        "in": "formData",
                        "description": "Tariff ID",
                        "required": true
                    },
                    {
                        "name": "duration",
                        "in": "formData",
                        "description": "Abonement duration (days)",
                        "required": true
                    },
                    {
                        "name": "price",
                        "in": "formData",
                        "description": "Abonement price",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tariff created",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Schema error",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/abonements/update.php": {
            "patch": {
                "description": "Update abonement data",
                "tags": [
                    "abonements"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "data",
                        "in": "body",
                        "description": "Abonement data to update",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "example": "Имя абонемента"
                                },
                                "tariff_id": {
                                    "type": "integer",
                                    "example": "1"
                                },
                                "duration": {
                                    "type": "integer",
                                    "example": "30"
                                },
                                "price": {
                                    "type": "number",
                                    "example": "4000"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Abonement updated",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Schema error",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/abonements/delete.php": {
            "delete": {
                "description": "Delete abonement",
                "tags": [
                    "abonements"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "Tariff ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Abonement has been deleted",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        }
    }
}