{
    "swagger": "2.0",
    "info": {
        "description": "",
        "version": "1.0.6",
        "title": "Selfree CRM API"
    },
    "servers": [
        {
            "url": "https://api.selfree-school.ru/"
        }
    ],
    "tags": [
        {
            "name": "teachers",
            "description": "Преподаватели"
        }
    ],
    "schemes": [
        "https",
        "http"
    ],
    "paths": {
        "/teachers/page.php": {
            "get": {
                "summary": "Получение списка преподавателей пагинацией",
                "tags": [
                    "teachers"
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Страница",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Список преподавателей",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "NOT FOUND",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/teachers/read.php": {
            "get": {
                "summary": "Информация о преподавателя",
                "tags": [
                    "teachers"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Информация о преподавателя",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "404": {
                        "description": "NOT FOUND",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/teachers/count.php": {
            "get": {
                "summary": "Кол-во преподавателей",
                "tags": [
                    "teachers"
                ],
                "responses": {
                    "200": {
                        "description": "Получение кол-ва преподавателей",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/teachers/create.php": {
            "post": {
                "summary": "Создать преподавателя",
                "tags": [
                    "teachers"
                ],
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "formData",
                        "description": "ФИО",
                        "required": true
                    },
                    {
                        "name": "gender",
                        "in": "formData",
                        "description": "Пол",
                        "required": true
                    },
                    {
                        "name": "subject_ids",
                        "in": "formData",
                        "description": "Прдеметы",
                        "required": true
                    },
                    {
                        "name": "phone",
                        "in": "formData",
                        "description": "Телефон",
                        "required": true
                    },
                    {
                        "name": "email",
                        "in": "formData",
                        "description": "Email"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Преподаватель создан",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Ошибка в запросе",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/teachers/update.php": {
            "patch": {
                "summary": "Обновить данные преподавателя",
                "tags": [
                    "teachers"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "data",
                        "in": "body",
                        "description": "Новые данные преподавателя",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "example": "Тестов Тест Тестович"
                                },
                                "gender": {
                                    "type": "string",
                                    "example": "male"
                                },
                                "subject_ids": {
                                    "type": "string",
                                    "example": "1,2,3"
                                },
                                "phone": {
                                    "type": "string",
                                    "example": "+7(999)999-00-00"
                                },
                                "email": {
                                    "type": "string",
                                    "example": "example@mail.com"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Данные преподавателя обновлены",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Ошибка в запросе",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/teachers/delete.php": {
            "delete": {
                "summary": "Удалить преподавателя",
                "tags": [
                    "teachers"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Преподаватель удалён",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Ошибка в запросе",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "500": {
                        "description": "Ошибка в сервере",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        }
    }
}